<div class='homeworkContainer'>
    {{#each homeworks}}
    <div class='assignment'>
        <div class='assignmentHeader'>
            <i class='fas fa-folder'></i> HW{{increment @index}}
        </div>
        <br>
        <div class='assignmentBody'>
            {{#each this as |homework|}}
            <div class='homeworkItem'>
                <span class='homeworkName'><i class='fab fa-java'></i> {{homework.filename}}</span>
                <span class='homeworkIcons'>
                    <a target='_blank' href={{this.viewLink}}><i class='fas fa-eye'></i></a>
                    <a href={{this.downloadLink}}><i class='fas fa-download'></i></a>
                </span>
            </div>
            {{/each}}
        </div>
        <br>
    </div>
    {{/each}}
</div>

<form action='/school/CS249/upload/' method='POST' enctype='multipart/form-data' class='upload'>
    <label for='file' id='uploadButton' class='homeworkItem'>Upload</label>
    <span id='fileSelected'></span>
    <input multiple id='file' name='file' type='file' />
    <input type='submit' value='Submit'>
</form>