<div class='homeworkContainer'>
    {{#each homeworks}}
    <div class='assignment'>
        <div class='assignmentHeader'>
            <i class='fas fa-folder'></i> Assignment {{increment @index}}
        </div>
        <br>
        <div class='assignmentBody'>
            {{#each this as |homework|}}
            <div class='homeworkItem'>
                <span class='homeworkName'><i class='fab fa-java'></i> {{homework.filename}}</span>
                <span class='homeworkIcons'>
                    <i class='fas fa-eye'></i>
                    <a href={{this.link}}><i class='fas fa-download'></i></a>
                </span>
            </div>
            {{/each}}
        </div>
        <br>
    </div>
    {{/each}}
</div>